# Core scientific computing
numpy
pandas
scipy
statsmodels

# NetCDF processing
xarray
netCDF4
regionmask

# Visualisation
matplotlib
plotly

# Spatial analysis
geopandas

# Quarto / Jupyter execution
jupyter
notebook
nbclient
nbformat
ipykernel

# Atlas of Living Australia API
galah-python

# Google Earth Engine
earthengine-api
geemap
